.vaya-footer{
    font-family: 'Grotesque bold';
    font-size: 20pt;
    color:#25221C;
}
  .footer1-container{
    margin-left: 12.3vw;
  }
  .vaya-footer-ny{
    font-family: 'Grotesque bold';
    font-size: 20pt;
    margin-top: 1vh;
    margin-bottom: 2vh;
    color: .25221C;
  }
  .tet-logo-container {
    display: flex;
  }
  .logo {
    scale: 100%;
  }
  .tet-footer-info {
    font-family: 'Grotesque Medium';
    margin-top: -.3vh;
    margin-bottom: .1vh;
    font-size: 18pt;
    color:.25221C;
  }
  .navinfo{
    margin-left: 1.5vw;
  }
  .socials {
    padding-right: 1vw;
  }
  .navbutton {
    list-style-type: none;
    font-family: 'Grotesque Bold';
    color: .25221C;
    padding-bottom: .3vh;
    font-size: 14pt;
  }
  .navbutton a {
    color: black;

  }
  .footer-browse{
    font-family: 'Grotesque Black';
    font-size: 20pt;
    margin-bottom: .5vh;
  }
  .footer2 {
    margin-left: 25vw;
  }
  .find-us-address {
    line-height: .6;
    font-family: 'Grotesque Bold';
    font-size: 14pt;
  }
  .find-us-footer {
    font-family: 'Grotesque Bold';
    font-size: 14pt;
  }
  .footer3 {
    margin-left: 10vw;
  }