html {
    font-size: 100%;
    height:100%;
    overflow-x:hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #FEFAE6;
    overflow-y:scroll;
    overflow-x:hidden;
    display:block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.tet-logo-container {
    display: flex;
}

#root {
    min-height: 100%;
}